<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Caderno</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <article id="cover">

    <div class="componente-tabela-padrao">
        <table class="tabela-padrao">
        <thead>
          <tr>
            <th class="tabela-padrao-linha tabela-aluno" colspan="2"><h3>Maria A B</h3><small><b>6º</b> Ano - Turma <b>B</b></small></th>
            <th class="tabela-padrao-linha tabela-realizacao" colspan="7">Ciclo 1 – Prova realizada em 12/05/2021<h6>Escola Lorem Ipsum Dolor Sit Amet – Cidade X – DF</h6></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="tabela-padrao-linha tabela-correcao-viavel" colspan="2">

              <table class="tabela-estado">
                <tr>
                  <td>
                    <img id="check-grande" src="file:///home/lfelipev/pdf_generator/assets/check-grande.png">
                  </td>
                  <td>
                    <h2> Correção Viável: <small>Nível Ortográfico</small></h2>
                  </td>
                </tr>
              </table>
            
            </td>
            <td class="tabela-padrao-linha tabela-correcoes" colspan="7">
              <table class="tabela-estado">
                <tr>
                  <td>
                    Normal
                  </td>
                  <td>
                    Branco
                  </td>
                  <td>
                    Insuficiente
                  </td>
                  <td>
                    Anulado
                  </td>
                </tr>
                <tr>
                  <td><img src="file:///home/lfelipev/pdf_generator/assets/check.png"></td>
                  <td><img src="file:///home/lfelipev/pdf_generator/assets/blank-check.png"></td>
                  <td><img src="file:///home/lfelipev/pdf_generator/assets/blank-check.png"></td>
                  <td><img src="file:///home/lfelipev/pdf_generator/assets/blank-check.png"></td>
                </tr>
              </table>

              
            </td>
          </tr>
          
          <!-- Nível 5 -->
          <tr>
            <td class="tabela-padrao-imagem tabela-nivel-5-imagem" rowspan="2"><img src="file:///home/lfelipev/pdf_generator/assets/nivel5.png"></td>
            <td class="tabela-padrao-linha tabela-nivel-5 nivel-5" rowspan="2"><h4>Registro Formal</h4><p>Apresenta estrutura morfossintática bem
              empregada com, no máximo, 5 (cinco) desvios
              pontuais e não recorrentes.<p></td>
            
            <td class="tabela-padrao-imagem tabela-nivel-1-imagem" rowspan="2"><img src="file:///home/lfelipev/pdf_generator/assets/nivel1.png"></td>
            <td class="tabela-padrao-linha tabela-nivel-1-direita nivel-1" rowspan="2"><h4>Coesão</h4><p>Palavras e períodos justapostos e desconexos ao
                  longo do texto, ou seja, ausência de articulação,
                  porém há uma coesão marcada pela relação lógica
                  entre palavras e/ou enunciados ou Repertório
                  coesivo escasso e com desvios recorrentes.<p></td>
            
          </tr>
          <tr>
          </tr>

          <!-- Nível 2 -->
          <tr>
            <td class="tabela-padrao-imagem tabela-nivel-3-imagem" rowspan="2"><img src="file:///home/lfelipev/pdf_generator/assets/nivel3.png"></td>
            <td class="tabela-padrao-linha tabela-nivel-3 nivel-3" rowspan="2"><h4>Tipologia Textual</h4><p>Apresenta e desenvolve apenas 2 (duas) partes
              estruturantes do enredo narrativo (orientação,
              complicação e desfecho) e/ou apresenta as 3 (três)
              partes, mas não desenvolve 2 (duas) delas e/ou
              apresenta apenas 2 (dois) elementos que concorrem
              para a construção da narrativa (personagens,
              narrador, organização temporal, lugar).<p></td>
            
            <td class="tabela-padrao-imagem tabela-nivel-2-imagem" rowspan="2"><img src="file:///home/lfelipev/pdf_generator/assets/nivel2.png"></td>
            <td class="tabela-padrao-linha tabela-nivel-2-direita nivel-2" rowspan="2"><h4>Coerência Temática</h4><p>Apresenta progressão textual insuficiente,
              utilizando-se apenas das ideias da situação
              motivadora e/ou Apresenta progressão textual
              completa, porém com predomínio de trechos
              copiados da situação motivadora.<p></td>
            
          </tr>
          <tr>
          </tr>

          <!-- Nível 1 -->
          <tr>
            <td class="tabela-padrao-imagem tabela-nivel-1-imagem" rowspan="2"><img src="file:///home/lfelipev/pdf_generator/assets/nivel1.png"></td>
            <td class="tabela-padrao-linha tabela-nivel-1-direita nivel-1" rowspan="2"><h4>Coesão</h4><p>Palavras e períodos justapostos e desconexos ao
              longo do texto, ou seja, ausência de articulação,
              porém há uma coesão marcada pela relação lógica
              entre palavras e/ou enunciados ou Repertório
              coesivo escasso e com desvios recorrentes.<p></td>
            
            <td class="tabela-padrao-link tabela-link" colspan="2">Acesse o <b>Plano Personalizado</b> aqui: <a href="http:/abreai.com/fedf6">http:/abreai.com/fedf6</a></td>
            
          </tr>
          <tr>
          </tr>

          <tr>
            <td class="tabela-padrao-linha tabela-rodape" colspan="2"></td>
            <td class="tabela-padrao-linha tabela-meio"></td>
            <td class="tabela-logos" colspan="6"><img src="../assets/logos.png"></td>
          </tr>
        </tbody>
        </table>
    </div>


</html>
